<div id="cookie-consent-banner" class="cookie-consent-banner">
    <strong>IMPORTANTE</strong>
    <p>
        Estamos comprometidos com a sua segurança. Esta é a nossa  <a href="privacy/policy" style="color: #a7d7a9;">Política de Privacidade</a> 
    </p>
    <button id="accept-cookie-btn">Entendi</button>
</div>