 <!DOCTYPE html>
 <html lang="pt-br">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Erro no Sistema</title>
<link rel="stylesheet" href="/static/css/error.css">
  </head>
 <body>
 
   <div class="error-container">
     <h1>Ocorreu um Erro</h1>
     <% if (typeof error !== 'undefined' && error) { %>
         <p><%= error %></p>
     <% } else { %>
         <p><strong>Não foi possível determinar a mensagem de erro específica.</strong></p>
     <% } %>
     <% if (typeof statusCode !== 'undefined' && statusCode) { %>
         <p><strong>Status Code: <%= statusCode %></strong></p>
     <% } %>
     <a href="/home" class="home-link">Voltar para a Home</a>
   </div>
 
 </body>
 </html>
 