<%- include("_header") -%>

<div class="container mt-5">
<h1 class="mb-4">Cadastro de Adoção</h1>

<div class="mb-3">
<a href="/home" class="btn btn-secondary">Cancelar</a>
</div>

<div class="card">
<div class="card-body">

<form action="/adocao/form" class="container" enctype="multipart/form-data" method="post">
<div class="mb-3">
<label for="arquivo" class="form-label">Foto do Pet</label>
<div id="image-preview-container" class="mb-2">
<img id="frame" src="" alt="Pré-visualização da imagem" style="max-width: 200px; max-height: 200px;">
<span id="preview-placeholder"></span>
</div>
<input type="file" class="form-control" name="arquivo" id="arquivo" onchange="preview()" accept="image/*" capture="environment">
</div>

<div class="mb-3">
    <label class="form-label">Idade do Pet</label>
    <div class="input-group">
        <input type="number" class="form-control" name="idadePetAnos" placeholder="Anos" min="0">
        <span class="input-group-text">anos</span>
        <input type="number" class="form-control" name="idadePetMeses" placeholder="Meses" min="0" max="11">
        <span class="input-group-text">meses</span>
    </div>
</div>

<div class="mb-3">
<label for="especie" class="form-label">Espécie</label>
<select class="form-select" id="especie" name="especie" required>
<option value="" selected disabled>Selecione a Espécie</option>
<option value="canino">Canino</option>
<option value="felino">Felino</option>
</select>
</div>

<div class="mb-3">
<label for="porte" class="form-label">Porte</label>
<select class="form-select" id="porte" name="porte">
<option value="" selected disabled>Selecione o Porte</option>
<option value="pequeno">Pequeno</option>
<option value="medio">Médio</option>
<option value="grande">Grande</option>
</select>
</div>

<div class="mb-3">
<label for="caracteristicas" class="form-label">Características do Pet</label>
<textarea class="form-control" id="caracteristicas" name="caracteristicas" rows="4" placeholder="Características do Pet"></textarea>
</div>

<div class="mb-3">
<label for="tutor" class="form-label">Nome do Responsável</label>
<input type="text" class="form-control" id="tutor" name="tutor" placeholder="Nome do Responsável" required>
</div>

<div class="mb-3">
<label for="phone" class="form-label">Telefone</label>
<input type="tel" class="form-control phone-input" name="contato" id="phone" placeholder="Telefone com DDD (55) já é adicionado automaticamente" required>
</div>

<div class="mb-3">
<label for="whatsapp" class="form-label">Whatsapp</label>
<select class="form-select" name="whatsapp" id="whatsapp">
<option value="" selected disabled>Aceita Whatsapp?</option>
<option value="sim">Sim</option>
<option value="nao">Não</option>
</select>
</div>

<button type="submit" class="btn btn-primary" onclick="return confirm('Os dados estão atualizados?')">Cadastrar</button>
<button type="reset" class="btn btn-secondary" onclick="document.getElementById('frame').src=''; document.getElementById('preview-placeholder').textContent = ''">Limpar</button>
</form>
</div>
</div>

<a href="/relatorio/adocao" class="btn btn-outline-secondary mt-3">Gerar Relatório</a>
</div>

<script src="/static/js/form_adocao.js"></script>

<%- include("_footer") -%>