<%- include("_header") -%>
<div class="container">
    <h1>Voluntários Ativos.</h1>
    <form action="/doacao/voluntario/form" method="POST">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" required>
        </div>  
        <div class="form-group">
            <label for="localidade">Localidade:</label>
            <input type="text" class="form-control" id="localidade" name="localidade" required>
        </div>
     
          <div class="col-md-6">
                     <label for="telefone" class="form-label fw-bold">Telefone:*</label>
                     <input type="tel" class="form-control" name="telefone" id="phone" onInput="this.value = phoneFormat(this.value)" placeholder="Telefone (00) 00000-0000" required>
                 </div>
                 <div class="col-md-6">
                     <label for="whatsapp" class="form-label fw-bold">Disponível no WhatsApp?</label>
                     <select name="whatsapp" id="whatsapp" class="form-select">
                         <option value="" selected disabled>Selecione...</option>
                         <option value="sim">Sim</option>
                         <option value="nao">Não</option>
                     </select>
                 </div>
        <div class="form-group">
            <label for="disponibilidade">Disponibilidade (horas por semana, dia específico, etc)</label>
           <input type="text" class="form-control" id="disponibilidade" name="disponibilidade">
        </div>
        <div class="form-group">
            <label for="habilidade">Habilidade/Área de Interesse:</label>
            <input type="text" class="form-control" id="habilidade" name="habilidade">
            
        </div>
        <div class="form-group">
            <label for="mensagem">Mensagem:</label>
            <textarea class="form-control" id="mensagem" name="mensagem" rows="3"></textarea>

        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

<%- include("_footer")-%>