<%-include("_header")-%>
<div class="container">
    <h1>Coleta</h1>
    <form action="/doacao/coleta/form" method="post">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome completo"  required/>
        </div>
    <div class="form-group">
<label for="phone">Telefone</label>
<input type="tel" name="telefone" id="phone" class="form-control phone-input"
placeholder="Telefone com DDD (55) já é adicionado automaticamente"
required />
</div>
<div class="form-group">
<label for="whatsapp">Whatsapp</label>
<select name="whatsapp" id="whatsapp" class="form-control">
<option value="">Selecione</option>
<option value="sim">Aceito</option>
<option value="nao">Não</option>
</select>
</div>
<div class="form-group">
    <label for="item">Item</label>
 <select name="item" id="item" class="form-control" onchange="mostrarOutroItem(this.value)">
<option value="">Selecione</option>
<option value="ração kg">Ração Kg</option>
<option value="medicamento caixa ">Medicamento caixa</option>
<option value="acessório unidade">Acessório unidade</option>
<option value="higiene unidade">Higiene unidade</option>
<option value="outro">Outro</option>
</select>
<div class="form-group" id="outroItemDiv" style="display: none;">
            <label for="outro_item_descricao">Qual item?</label>
            <input type="text" name="outro_item_descricao" id="outro_item_descricao" class="form-control" placeholder="Descreva o item" />
 </div>
 </div>
 
<div class="form-group">
<label for="Quantidade">Quantidade</label>
<input type="number" name="quantidade" id="quantidade" class="form-control" placeholder="Quantidade" />
</div>
<div class="form-group">
<label for="data">Melhor dia</label>
<select name="data" id="data" class="form-control">
<option value="">Selecione</option>
<option value="segunda">Segunda-feira</option>
<option value="terca">Terça-feira</option>
<option value="quarta">Quarta-feira</option>
<option value="quinta">Quinta-feira</option>
<option value="sexta">Sexta-feira</option>

</select>
</div>
<div class="form-group">
<label for="hora">Melhor hora</label>
<input type="time" name="hora" id="hora" class="form-control" placeholder="Horário" />
</div>
<div class="form-group">
<label for="cep">CEP</label>
<input type="text" name="cep" id="cep" class="form-control" placeholder="CEP 00000-000"
onblur="pesquisacep()" maxlength="8" />
</div>
<div class="form-group">
<label for="logradouro">Endereço</label>
<input type="text" name="endereco" id="endereco" class="form-control" placeholder="Rua, Avenida, etc." />
</div>
<div class="form-group">
<label for="numero">Número</label>
<input type="text" name="numero" id="numero" class="form-control" placeholder="Número" />
</div>
<div class="form-group">
<label for="complemento">Complemento</label>
<input type="text" name="complemento" id="complemento" class="form-control" placeholder="Complemento" />
</div>
<div class="form-group">
<label for="bairro">Bairro</label>
<input type="text" name="bairro" id="bairro" class="form-control" placeholder="Bairro" />
</div>
<div class="form-group">
<label for="localidade">Cidade</label>
<input type="text" name="cidade" id="cidade" class="form-control" placeholder="Cidade" />
</div>
<div class="form-group">
<label for="uf">Estado</label>
<input type="text" name="estado" id="estado" class="form-control" placeholder="Estado" />
</div>
<div class="form-group">
    <textarea  class="form-control" name="mensagem" id="mensagem" rows="3" placeholder="Mensagem"></textarea>
    
</div>
<button type="submit" class="btn btn-primary mt-3">Enviar</button>
</form>
</div>

<%-include("_footer")-%>